<% @patient.each do |patient| %>
	<%= link_to (image_tag patient.image.url(:small)), patient %>
	<h2><%= link_to patient.lname, patient %></h2>
<% end %>

<%= link_to "Add Patient", new_patient_path %>


